{% extends "master.html" %}

{% block title %}
MGEN : Dashboard
{% end %}

{% block head %}

<!-- toggle sidebar menu -->
<script>

$(document).ready(function() {
    $("#mgen-sidebar-toggle").click(function(e) {
        $("#mgen-dashboard").toggleClass("toggled")
        return false
    })
})

</script>

<style>
    #profile-photo {
        width: 32px;
        height: 32px;
    }
</style>

{% end %}

{% block content %}
<div id="mgen-dashboard">
    <div id="mgen-sidebar">
        <ul class="mgen-sidebar-nav">
            <li class="mgen-sidebar-brand">
                    <a href="/profile">
                        <img id="profile-photo" src="{{ escape(profile['picture']) }}" />
                        {{ escape(profile['name']) }}
                    </a>
            </li>
            <li class="current">
                <a href="/dashboard">Dashboard</a>
            </li>
            <li>
                <a href="/projects">Shortcuts</a>
            </li>
            <li>
                <a href="/hosting">Overview</a>
            </li>
            <li>
                <a href="/events">Events</a>
            </li>
        </ul>
    </div>
    <div id="mgen-content">
        <span>
            <button id="mgen-sidebar-toggle" type="button" class="btn btn-default btn-lg">
                <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
            </button>
            <span id="mgen-content-title">Dashboard</span>
        </span>
        
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <p>
                        {{ user }}
                    </p>
                    <p>
                        {{ profile }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% end %}