{% extends "master.html" %}

{% block title %}
MGEN : Login
{% end %}

{% block head %}

<script type="text/javascript">
  $(document).ready(function() {
    $("#login").modal({
      backdrop: 'static',
      keyboard: false
    })
  })
</script>
{% end %}

{% block content %}
<div class="login modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="login-label">
  <div class="modal-dialog" role="document">
    <div class="modal-content login">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="login-label">Hello! Please login below</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <div class="btn-group" role="group" aria-label="...">
              <a href="/auth/google" class="btn btn-default">
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span> 
                Goolge
              </a>
              <a href="/auth/facebook" class="btn btn-default">
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span> 
                Facebook
              </a>
              <a href="/auth/linkedin" class="btn btn-default">
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span> 
                Linked In
              </a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


{% end %}