<!doctype html>
<html>
  <head>
    {% block head %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="http://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
  </head>
  <body>
    <div class="content">
      {% block content %}
      {% endblock %}
    </div>
      
    <footer>
        {% block footer %}
          <p>&copy; <a href="http://www.endlessinsomnia.com/">Endless Insomnia</a>.</p>
        {% endblock %}
      </footer>
    </div>
  </body>
</html>