{% extends dashboard.html %}

{% block title %}
MGEN : {{ escape(project.title) }}
{% end %}

{% block head %}
<script type="text/javascript" src="/static/js/wizard.js"></script>
<script type="text/javascript" src="/static/js/dashboard.js"></script>
<script type="text/javascript" src="/static/js/project.js"></script>
{% end %}

{% block dashboard-frame %}
<input type="hidden" id="project-id" value="{{ escape(project.project_id.hex) }}" />
<div class="container">
  
  {% include "dlg/new-item-wizard.html" %}
  {% include "dlg/new-page-wizard.html" %}
  {% include "dlg/new-template-wizard.html" %}
  
  <div class="page-header">
    <h1 id="project-title">{{ escape(project.title) }}</h1>
    <h2 id="project-public-base-uri">{{ escape(project.public_base_uri) }}</h2>
  </div>
  
  <!-- Begin project menu content -->
  <div class="btn-group" role="group" aria-label="...">
    {% if allow_edit %}
    <button id="project-settings" class="btn btn-default">
      <span class="glyphicon glyphicon-cog" aria-hidden="true"></span> 
      Project setting
    </button>
    {% end %}
    {% if is_owner %}
    <button id="project-members" class="btn btn-default">
      <span class="glyphicon glyphicon-user" aria-hidden="true"></span> 
      Members
    </button>
    {% end %}
    
    {% if allow_build %}
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Build project
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a id="project-build" href="#">Build</a></li>
        {% if allow_deploy %}
        <li><a id="project-build-deploy" href="#">Build & Deploy</a></li>
        {% end %}
      </ul>
    </div>
    {% end %}
    {% if allow_deploy %}
    <button id="project-deploy" class="btn btn-success">
      <span class="glyphicon glyphicon-user" aria-hidden="true"></span> 
      Deploy
    </button>
    {% end %}
  </div>
  
  <!-- Begin project header content -->
  <p class="lead">
    <h4>
      The {{ escape(project.title) }} project containes
      <a id="project-templates-link" href="#project-templates"></a>, 
      <a id="project-items-link" href="#project-items"></a>,
      <a id="project-slugs-link" href="#project-slugs"></a>,
      <a id="project-sequences-link" href="#project-sequences"></a> and 
      <a id="project-pages-link" href="#project-pages"></a>.
    </h4>
    
    <h5>
      Currently there are {{ len(project.members) }} people working on this project
      {% if is_owner %}
      , and you are the owner
      {% end %}
      .
    </h5>
    
  </p>
  
  <hr />
  
  {% if allow_create %}
  <!-- Begin items menu -->
  <div class="btn-group" role="group" aria-label="...">
    <button id="project-add-item" class="btn btn-default">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 
      New Item
    </button>
    <button id="project-del-item" class="btn btn-warning disabled">
      <span class="glyphicon glyphicon-minus" aria-hidden="true"></span> 
    </button>
  </div>
  {% end %}
  
  <!-- Begin items grid -->
  <div id="project-items" class="container-fluid">
  </div>
  
  <br/>
  <hr />
  
  {% if allow_create %}
  <!-- Begin sequences menu -->
  <div class="btn-group" role="group" aria-label="...">
    <button id="project-add-seq" class="btn btn-default">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 
      New Sequence
    </button>
    <button id="project-del-seq" class="btn btn-warning disabled">
      <span class="glyphicon glyphicon-minus" aria-hidden="true"></span> 
    </button>
  </div>
  
  {% end %}
  
  <!-- Begin sequences grid -->
  <div id="project-sequences" class="container-fluid">
  </div>
  
  <br />
  <hr />
    
  {% if allow_create %}
  
  <!-- Begin templates menu -->
  <div class="btn-group" role="group" aria-label="...">
    <button id="project-add-tmpl" class="btn btn-default">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 
      New Template
    </button>
    <button id="project-del-tmpl" class="btn btn-warning disabled">
      <span class="glyphicon glyphicon-minus" aria-hidden="true"></span> 
    </button>
  </div>
  
  {% end %}
  
  <!-- Begin templates grid -->
  <div>
    <div id="project-templates" class="container-fluid">
    </div>
  </div>
  
  <br />
  <hr />
  
  {% if allow_create %}
  <!-- Begin pages menu -->
  <div class="btn-group" role="group" aria-label="...">
    <button id="project-add-page" class="btn btn-default">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 
      New Page
    </button>
    <button id="project-del-page" class="btn btn-warning disabled">
      <span class="glyphicon glyphicon-minus" aria-hidden="true"></span> 
    </button>
  </div>
  
  {% end %}
  
  <!-- Begin pages grid -->
  <div id="project-pages" class="container-fluid">
  </div>
  
</div>

{% end %}