<!-- Common -->
<input type="hidden" id="template-types" value="{{ json_encode(template_types) }}" />
<input type="hidden" id="item-types" value="{{ json_encode(item_types) }}" />

<!-- Project Permissions -->
<input type="hidden" id="forbidden'" value="{{ forbidden }}" />
<input type="hidden" id="allow_edit" value="{{ allow_edit }}">
<input type="hidden" id="allow_create" value="{{ allow_create }}">
<input type="hidden" id="allow_build" value="{{ allow_build }}">
<input type="hidden" id="allow_deploy" value="{{ allow_deploy }}">
<input type="hidden" id="is_owner" value="{{ is_owner }}">